#servicesSection{
    position: relative;
    padding-bottom: 4vw;
}
#servicesSection::after{
    content: "";
    display: inline-block;
    position: absolute;
    top:0;
    right: 0;
    width: 10vw;
    height: 100%;
    background-color: var(--primary-color);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%);
    z-index: -1;
}

#servicesTitle{
    color: var(--primary-color);
    margin-bottom: 2vw;
}

#servicesSection .react-multi-carousel-item{
    margin: 0.5vw 0;
    
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
 
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    #servicesSection{
        position: relative;
        padding: 10vw 0;
    }
}