.service{
    width: 16vw;
    height: 18vw;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    padding-bottom: 4vw;
    position: relative;
    user-select: none;
}

.service-img{
    width: 100%;
    pointer-events: none;
}

.service-title{
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.5vw 0.4vw;
}

.service-desc{
    padding: 0 0.4vw 0.5vw 0.4vw;
    line-height: 150%;
}

.service-cta{
    position: absolute;
    width: 80%;
    left:10%;
    bottom: 1vw;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: medium;
    font-size: 1.3rem;
    padding: 0.4vw 0;
    cursor: pointer;
    transition: filter 0.3s;
}

.service-cta:hover{
    filter: brightness(125%);
}


/* MEDIUM LAPTOP STYLES */
@media only screen and (min-width: 1401px) and (max-width: 1920px){
    .service{
        width: 18vw;
        height: 21vw;
    }
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
    .service{
        width: 20vw;
        height: 24vw;
    }

    .service-desc{
        font-size: 1.1rem;
    }
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .service{
        width: 30vw;
        height: 36vw;
    }

    .service-title{
        font-size: 2rem;
        padding: 0.8vw 0.6vw;
    }
    
    .service-desc{
        padding: 0 0.5vw 0.5vw 0.5vw;
        line-height: 150%;
        font-size: 1.2rem;
    }
    
    .service-cta{
        width: 90%;
        left:5%;
        font-size: 1.8rem;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .service{
        width: 45vw;
        height: 62vw;
    }

    .service-title{
        font-size: 2rem;
        padding: 0.8vw 0.6vw;
    }
    
    .service-desc{
        padding: 0 0.5vw 0.5vw 0.5vw;
        line-height: 150%;
        font-size: 1.2rem;
    }
    
    .service-cta{
        width: 90%;
        left:5%;
        font-size: 1.8rem;
        padding: 1.5vw 0;
    }
}

/* VERY SMALL  MOBILE STYLES */
@media only screen and (max-width: 290px){
    .service{
        width: 65vw;
        height: 80vw;
    }

    .service-title{
        font-size: 1.9rem;
        padding: 0.8vw 0.6vw;
    }
    
    .service-desc{
        padding: 0 0.5vw 0.5vw 0.5vw;
        line-height: 150%;
        font-size: 1.2rem;
    }
    
    .service-cta{
        width: 90%;
        left:5%;
        font-size: 1.8rem;
        padding: 1.5vw 0;
    }
}