#pastWorkSection{
    padding: 2vw 0;
    background-color: var(--primary-color);
}

#pastWorkTitle{
    display: inline-block;
    color: white;
    margin-bottom: 2vw;
    padding-bottom: 0.5vw;
    position: relative;
}

#pastWorkTitle::after{
    content: "";
    display: inline-block;
    width: 100%;
    background-color: white;
    height: 4px;
    position: absolute;
    bottom:0;
    left:0;
}

#pastWorkWrapper{
    width: 50vw;
    height: 25vw;
    margin-left: 25%;
    margin-bottom: 2vw;
}

.past-work-img{
    pointer-events: none;
    user-select: none;
    object-fit: cover;
    width: 50vw;
    height: 25vw;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    #pastWorkSection{
        padding: 3vw 0;
    }
    
    #pastWorkTitle{
        margin-bottom: 3vw;
    }
    #pastWorkWrapper{
        width: 75vw;
        height: 37.5vw;
        margin-left: 12.5%;
        margin-bottom: 3vw;
    }
    
    .past-work-img{
        width: 75vw;
        height: 37.5vw;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    #pastWorkSection{
        padding: 5vw 0;
    }
    
    #pastWorkTitle{
        margin-bottom: 5vw;
    }
    #pastWorkWrapper{
        width: 80vw;
        height: 40vw;
        margin-left: 10%;
        margin-bottom: 5vw;
    }
    
    .past-work-img{
        width: 80vw;
        height: 40vw;
    }
}