#pastWorkSection{
    padding: 2vw 0;
    background-color: var(--primary-color);
}

#pastWorkTitle{
    display: inline-block;
    color: white;
    margin-bottom: 2vw;
    padding-bottom: 0.5vw;
    position: relative;
}

#pastWorkTitle::after{
    content: "";
    display: inline-block;
    width: 100%;
    background-color: white;
    height: 4px;
    position: absolute;
    bottom:0;
    left:0;
}

#pastWorkWrapper{
    width: 50vw;
    height: 25vw;
    margin-left: 25%;
}

.past-work-img{
    pointer-events: none;
    user-select: none;
    object-fit: cover;
    width: 50vw;
    height: 25vw;
}