#aboutSection{
    position: relative;
    padding: 5vw 0;
}

#aboutBg{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    object-fit: cover;
    z-index: -2;
}
#aboutShader{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
}

#aboutWrapper{
    color: white;
    background-color: #2f2f2fd2;
    width: 40vw;
    padding: 2.5vw 5vw;
    min-height: 25vw;
}

#aboutUsText{
    font-family: var(--secondary-font);
    font-size: 1.4rem;
}

#aboutUsTitle{
    font-family: var(--secondary-font);
    font-weight: bolder;
    font-size: 3.5rem;
}

#aboutUsDesc{
    margin-top: 1vw;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 150%;
    white-space: pre-wrap;
}
#aboutUsLink{
    margin-top: 2vw;
    color: white;
    text-decoration: none;
    background-color: var(--primary-color);
}

/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
    #aboutWrapper{
        width: 50vw;
    }
    #aboutSection{
        padding: 6vw 0;
    }
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    #aboutWrapper{
        width: 60vw;
    }
    #aboutSection{
        padding: 6vw 0;
    }
    #aboutUsDesc{
        font-size: 1.3rem;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    #aboutWrapper{
        width: 80vw;
    }
    #aboutSection{
        padding: 10vw 0;
    }
    #aboutUsDesc{
        margin-top: 2vw;
    }
    #aboutUsLink{
        margin-top: 4vw;
    }
}