@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&family=Oswald:wght@500;600;700&family=Roboto:wght@100;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #282D64;
    --secondary-color: #56A7DE;
    --third-color: #F6F6F6;
    --fourth-color: #2F2F2F;

    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --third-font: "Kanit", sans-serif;

    --primary-text-color: black;
    --secondary-text-color: white;
}

body{
    font-family: var(--primary-font);
    color: var(--primary-text-color);
}

:root{
    font-size: 14px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-multiple-carousel__arrow {
    z-index: 990;
}

h2{
    font-family: var(--secondary-font);
    font-size: 6rem;
    text-align: center;
}

.estimate-button{
    font-family: "Oswald", sans-serif;
    background-color: white;
    color: var(--primary-color);
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0.8vw 5vw;
    cursor: pointer;
    transition: 0.3s box-shadow,  0.3s transform;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}
.estimate-button:hover{
    transform: translateY(-2px);
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,1);
}

/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
    :root{
        font-size: 12px;
    }
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    :root{
        font-size: 10px;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    :root{
        font-size: 8px;
    }
}
